body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #888;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}


/* ハイライト用のスタイル */
.highlight {
    background-color: #ffcc00; /* ハイライト色 */
}

